/* Цвет вторичного текста #212121;*/ 
/* Цвет основного текста #757575;*/
/* Белий цвет #FFFFFF;*/
/* Цвет лого #2196F3;*/
/* акцент #2196F3;*/
/* футер адрес rgba(255, 255, 255, 0.6);*/
/* футер текст rgba(255, 255, 255, 0.4);*/

:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-title-color: #FFFFFF;
    --primary-bg-colot:#FFFFFF; 
    --link-color:#AFB1B8;
    --footer-ad-color: rgba(255, 255, 255, 0.6);
    --footer-text-color: rgba(255, 255, 255, 0.4);
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
    /*outline: 2px solid tomato;*/
}
.body {
    background-color: var(--primary-bg-colot);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}
.logo {
    color: var(--accent-color);

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-second {
    color: var(--title-text-color);
}


ul {
     padding: 0;
     margin: 0;
     list-style: none;
}

.img {
    display: block;
    
}

/*Main-nav*/

.main-nav {
    display: flex;
    align-items: center;
}

.page-header {
    background-color: var(--primary-bg-colot);
    border: 1px solid #ECECEC;
    
}


/* Site nav*/

.site-nav {
    display: flex;
    margin-left: 86px;

}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    
    display: block;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    

}



.link-curret::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;

}


.site-nav .link-curret {

    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--accent-color);

   
   
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}


.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}
.auth-nav .link {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    
    

}
.auth-nav .link:hover {
    color: var(--accent-color);
}

.icon-envelope {
    width: 16px;
    height: 11.2px;
    fill: currentColor
    
}

.icon-envelope:hover{
    fill: var(--accent-color);

}

.icon-phone {
    width: 10px;
    height: 14.94px;
    fill: currentColor;

}

.icon-phone:hover{
    fill: var(--accent-color);

}
/* Hero*/

.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8) , rgba(47, 48, 58, 0.8)),
    url(../images/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--primary-text-color);
    
}

.hero-title {
    color: var(--second-title-color);

    margin-top: 0px;
    margin-bottom: 0;

    padding-top: 200px;
    padding-bottom: 30px;

    

 
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}



/* Section*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section-title {
    color: var(--title-text-color);

   margin-top: 0;
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em; 
    
}

/* Description*/

.section-description .title {
    color: var(--second-title-color);

}


.description-list {
    display: flex;

}

.description-list .item {
    width: 270px;
}

.description-list .item:not(:last-child) {
    margin-right: 30px;
}

.description-list .title {
    color: var(--title-text-color);

    margin-top: 0;
    margin-bottom: 10px;
      
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase; 
       
}

.description-list p {
    margin-top: 0;
    margin-bottom: 0;
}


.description-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color:#F5F4FA;
    border-radius: 4px;
 
}

.icon {
    width: 70px;
    height: 70px;  
   
}


/* Work*/

.work-list {
    display: flex;

    

    
    
}

.work-list .item {
    width: 370px;
    position: relative;
}

.work-list .item:not(:last-child) {
    margin-right: 30px;
}

.work-list .title {
    color: var(--second-title-color);

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
  

   
}

.work-list .link {
    display: block;
    text-decoration: none;
}

/*Team*/

.section-team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.team-list {
    display: flex;
}

.team-list .item {
    width: 270px;
     
}

.team-list .item:not(:last-child) {
    margin-right: 30px;
}


.team-list .title {
    color: var(--title-text-color);

    margin-top: 0px;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list .text {

    margin-top: 0;
    margin-bottom: 16px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}


.chain-list {
    display: flex;
    text-align: center;
    
}

.chain-list .item:not(:last-child) {
    margin-right: 10px;
}
    
.chain-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    text-decoration: none;
    border-radius: 50%;
    width: 44px;
    height: 44px; 
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)  
}

.chain-list .link:hover, 
.chain-list .link:focus {
    color: var(--second-title-color);
    background-color: var(--accent-color);
}

.chain-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

   
}

.chain-icon:hover {
    fill: var(--primary-bg-colot)
}

.card {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.card-team {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background: #FFFFFF;
    
}

/*Button*/

.button {
    color: var(--second-title-color);
    background-color: var(--accent-color);
    
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 1px solid transparent;

    font-family: inherit;
    text-align: center;
    text-decoration: none;
}

.button .primary {
    color: var(--second-title-color);
    background-color: var(--accent-color);
    
}

/* Clients*/

.clients-list {
    display: flex;
     
}


.clients-list .item:not(:last-child) {
    margin-right: 30px;
}

.clients-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--link-color);
    
    width: 170px;
    height: 90px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--second-title-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    
    
}
.clients-list .link:hover,
.clients-list .link:focus {
    color: var(--accent-color);
    background-color: var(--second-title-color);
    border: 1px solid var(--accent-color);

}

.clients-icon {
    fill: currentColor
    
}

.clients-icon:hover {
    fill: var(--accent-color);
}

/*Footer*/
.page-footer {
    background-color: #2F303A;
}


.page-footer .container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 28px;
    /*justify-content: space-between;*/

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.footer-logo {
    color: var(--accent-color);
 
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-accent {
    color: var(--second-title-color);
    
}

.address-list {
    display: flex;
    flex-direction: column;
    margin-right: 69px;
}

.address-list .text {
    margin-top: 10px;
    margin-bottom: 9px;


    color: var(--second-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.address-list .link {
    display: block;

    margin-top: 0;
    margin-bottom: 9px;

    color: var(--footer-ad-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

}


.subscription-text {
    
    margin-top: 0;
    margin-bottom: 21px;
    color: var(--second-title-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-network {
    display: flex;
    
    
}

.social-network .item:not(:last-child) {
    margin-right: 10px;
    
}



.social-network .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
   

    color: var(--second-title-color);
    text-decoration: none;
    background-color: var(--primary-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    

}

.social-network .link:hover, 
.social-network .link:focus {
    
    background-color: var(--accent-color);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-bg-colot);
    
    
    
   
    

}


.company-text  {


    margin-top: 0;
    margin-bottom: 0;
    
    padding-top: 18px;
    padding-bottom: 21px;
    
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    
}







/*Portfolio*/

/*Button-portfolio*/

.section-portfolio {
    padding-top: 73px;
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list .type {
 
    color: var(--title-text-color);
    background-color: #F5F4FA;;
    
    font-family: inherit;
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;

    border: 1px solid #F5F4FA;

    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    
   }

.portfolio-list .type:hover,
.portfolio-list .type:focus {
    color: var(--second-title-color);
    background-color: var(--accent-color);

} 


.section-portfolio .title {
    color: var(--second-title-color);
    margin-top: 0;
    margin-bottom: 0;
    
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    
    
}

.card-list .item {
    
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;

}

.card-list .item:nth-child(3n) {
    margin-right: 0;
}

.card-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.position-card {
    position: relative;

    overflow: hidden;

}

.text-second {
    color: var(--second-title-color);

    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    position: absolute;
   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.item .link:hover .text-second, .item .link:focus .text-second {

    transform: translateY(0%);
    opacity: 1;

}


.card-list .title {
    color: var(--title-text-color);

    margin-top: 0px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
  
}
.card-list .text {
    color: var(--primary-text-color);

    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}

.card-list .link {
    display: block;
    text-decoration: none;
}

.card-list .link:hover, .card-list .link:focus {
     box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);

}


.card-content {
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   box-sizing: border-box;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left:24px;
   padding-right: 24px;
}

